{% extends "layout.twig" %}

{% block content %}
<body class="light-skin fixed-navbar sidebar-scroll">

    {% include 'header.twig' %}

    {% include 'menu.twig' %}

    <div id="wrapper">

        <div class="content">

            {% include 'dashboard.twig' %}

            {# include 'listing.twig' with {'title' : title} #}

            {# include 'entry.twig' with {'title' : title} #}

        </div>

        {% include 'sidebar.twig' %}

        {% include 'footer.twig' %}

    </div>
</body>
{% endblock %}